body {
    height: 100vh;
    #background-color: #fff;
    background: #000 url("img/tdlbg.jpg") no-repeat 50% 50%;
    background-size: cover;
    color: #fff;
}

.log {
    padding: 0;
    margin: 0;
}

.log h1 {
    text-align: center;
}

.log .input {
    margin: 0 auto;
}

.log {
    padding: 0;
}

.header_title {
    text-align: center;
}

.view, .create, .logout {
    padding: 0;
    text-align: center;
}

.view_text, .create_text, .logout_text {
    padding: 0;
}

.list_item_container {
    padding: 0;
}

.item {
    padding: 0;
}

.dropdown {
    position: relative;
    padding: 0;
}

.dropdown ul {
    width: 100%;
    padding: 0;
}

.dropdown button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.create_item {
    padding: 0;
}

.input_container {
    padding: 0;
}

.title, .due_date, .notes {

}

.create_item .input_container > .title {
    padding: auto 15px;
}

.create_button {

}

.todoList {
    color: #fff;
}

.view {
    height: 100vh;
    border-right: 2px solid #151800;
    border-left: 2px solid #151800;
}

.todoList li{
    list-style: none;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.deleted1{
    text-decoration: line-through;
}

input[type=checkbox] {
    position: relative;
    border: none;
    height: 20px;
    left: 3%;
    background-color: #000;
}

.deleteTodo btn {
    padding: 0;
}

.deleteTodo {
    background-color: rgba(112, 128, 123, .9);
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.editTodo {
    background-color: rgba(100, 104, 144, .9);
    color: #fff;
    border: none;
    border-radius: 5px;
}

#taskithead {
    height: 75px;
}

.view_titles h4, .create_title h4 {
    text-align: center;
}

/*******************Header*******************/
.firstHeader {
    background-color: rgba(0, 0, 0, .25);
}

#taskit {
    margin-top: 6vh;
    width: 75%;
}

/*************Create Form**************/
input, textarea {
    background-color: rgba(21, 24, 0, .25);
    border: 1px solid #151800;
    margin-bottom: 10px;
    border-radius: 5px;
}

input {
    height: 35px;
}

textarea {
    height: 80px;
}